{% extends "base.html" %} {% load static %} {% block content %}
<div class="header-container container-fluid">
  <div class="row">
    <div class="col">
      <div class="hero-image">
        <div class="title-font px-2">
          <h1 class="text-center my-auto hero-title">SEASONS</h1>
          <p class="text-center">Farm to Box to You</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container seasons-container py-4">
  <div class="row"> 
   {% for sub in subscriptions %}
    <div class="col-12">
      <table class="table table-sm table-borderless">
        <thead>
          <tr>

          </tr>
        </thead>
        <tbody>
        
          <tr>
            <td>
              <a
                href=""
                title=""
              >
                {{sub.price}}
              </a>
            </td>
            <td>{{ sub.price_by_box }}</td>
            <td>
              <ul class="list-unstyled">
               
                <li class="small">
                 
                </li>
         
              </ul>
            </td>
            <td>{{ sub.fruit }}</td>
          </tr>
         
        </tbody>
      </table>
    </div>
     {% endfor %}
  </div>
</div>

{% endblock %} {% block postloadjs %}
<script>
  AOS.init();
</script>
{% endblock %}
