{% extends "base.html" %} {% load static %} {% block content %}
<div class="header-container container-fluid subscrition" >
  <div style="background-image: url {{ subscriptions.image.url }}; "
        class="cocktail-recipe-img" 
      >
      {{ subscriptions.image.url }}
  <div class="row">
    <div class="col">
        <div class="title-font px-2">
          <h1 class="text-center my-auto hero-title">
            {{ subscriptions.name }}
          </h1>
          <p class="text-center">Farm to Box to You</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container seasons-container py-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <p>
        For our subscription boxes you just the season you want to sign up for
        and we will book you in for the months of the season you choose.
        <br />
        <br />
        In the {{ subscriptions.name }} you will get al the freshet produce from
        the months of {{ subscriptions.months }}. you will recieve one box for
        every week of the month. In the {{ subscriptions.name }} box you can
        expect vegetables 
        <br/>
        <br/>
        {{ subscriptions.vegetables }} 
        and fruits 
        <br/>
        <br/>
        {{ subscriptions.fruit }} as and when they come into season.
      </p>
    </div>
  </div>
</div>


<div class="container">
    <div class="row">
    {% for s in size %}
        <div class="col">
        


<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
{% endfor %}

    </div>
</div>



{% endblock %} {% block postloadjs %}
<script>
  AOS.init();
</script>
{% endblock %}
