{% extends "base.html" %} {% load static %} {% block content %}
<div class="header-container container-fluid subscrition">
  <div
    style="background-image:  url({{ subscriptions.image.url }})"
    style="background-size: cover"
    class="sub-detail-hero  text-align: center"
  >

    <div class="row">
      <div class="col-12 px-0">
        <div class="title-font shadow text-center mx-auto px-2">
          <h1 class="text-center my-auto hero-title ">
            {{ subscriptions.name }}
          </h1>
          <p class="text-center "><bold>{{ subscriptions.months }}</bold></p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid seasons-container py-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
  
      <p>
        For our subscription boxes you just the season you want to sign up for
        and we will book you in for the months of the season you choose.
        <br />
        <br />
        In the {{ subscriptions.name }} you will get al the freshet produce from
        the months of {{ subscriptions.months }}. you will recieve one box for
        every week of the month. In the {{ subscriptions.name }} box you can
        expect 
    </p>
        <br/>

        <h3 class="text-center" >Vegetables:</h3>
        <hr>
    <p>
        {{ subscriptions.vegetables }}
        <br />
        <br />
         <h3 class="text-center">Fruit:</h3>
         <hr> 
         <p>
        {{ subscriptions.fruit }}
        </p>
        <br>
        <h1>{{ subscriptions.season }}</h1>
         as and when they come into season.
      </p>
    </div>
  </div>
</div>
                
<div class="container-fluid  sub-deatails-container ">
  <div class="row no-gutters" >
    {% for s in size %}
    <div class="col-12 col-lg-4 col-md-4 flex-item">
      <div class="card mx-auto ml-3 boxshadow-card card-font my-3" style="width: 18rem">
        <div class="card-body ">
          <h3 class="card-title text-center">{{ s.name }}</h3>
          <hr>
          <h4 class="text-center text-center">{{ s.name }}</h4>
          <p class="card-text text-center">
            {{ s.description }}
          </p>
          <div class="col-12 text-center">
          <p> Subscription price ${{ s.price }} </p>
             <a href="{% url 'products'  %}" class="btn btn-primary">Products</a>
          <p class="s_price-per-box"> Price per box: ${{ s.price_per_box }}</p>
                 
         
          </div>
        </div>
      </div>
       <hr>
    </div>
    {% endfor %}
  </div>
  <a href="{% url 'subscriptions' %}" class="btn btn-primary"></a>
</div>

<div class="container">
    <div class="row">
        <div class="col">
        <h1>Hey</h1>
            {% for sea in sub_season %}
             <h3 class="text-center">{{ sea.season }}</h3>
             
              <a href="{% url 'products'  %}" class="btn btn-primary"></a>
             {% endfor %}
        </div>
    </div>
</div>

{% endblock %} {% block postloadjs %}
<script>
  AOS.init();
</script>
{% endblock %}
