{% extends "base.html" %} {% load static %} {% block content %}
<div class="header-container container-fluid">
  <div class="row">
    <div class="col">
      <div class="hero-image">
        <div class="title-font px-2">
          <h1 class="text-center my-auto hero-title">SEASONS</h1>
          <p class="text-center">Farm to Box to You</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
            <p>stuff</p>
            </div>
             <div class="row">
              <p>stuff</p>
            </div>

        </div>
    </div>
</div>




  {% endblock %} {% block postloadjs %}
  <script>
    AOS.init();
  </script>
  {% endblock %}

