{% extends "base.html" %} {% load static %} {% block content %}
<div class="header-container container-fluid">
  <div class="row">
    <div class="col-12 px-0">
      <div class="subscriptions-image">
        <div class="title-font shadow  px-2 mx-auto">
          <h1 class="text-center my-auto hero-title">SEASONS</h1>
          <p class="text-center">Farm to Box to You</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid seasons-container py-4">
  <div class="row">
    {% for sub in subscriptions %} {% if forloop.counter|divisibleby:2 %}

    <div class="col-12 col-lg-5 col-md-5">
      <img
        class="img-fluid w-100 mx-auto d-block mx-auto sub-img"
        src="{{ sub.image.url }}"
        alt="{{ sub.name }}"
      />
    </div>
    <div class="col-12 col-lg-7 col-md-7">
      <div class="card-body">
        <h3 class="card-title sub-card-title">{{ sub.name }}</h3>
        <hr />
        <p class="card-text">{{ sub.description }}</p>
        <div class="col-12 col-lg-12 subscription-button">
               <button href="{% url 'subscription_detail' sub.id %}" type="button" class="btn btn-outline-dark btn-lg btn-block">{{ sub.name }}</button>
  
        </div>
      </div>
    </div>

    {% else %}
    <hr />
    <div class="col-12 col-lg-7 col-md-7">
      <div class="card-body">
        <h3 class="card-title sub-card-title">{{ sub.name }}</h3>
        <hr />
        <p class="card-text">{{ sub.description }}</p>
        <button href="{% url 'subscription_detail' sub.id %}" type="button" class="btn btn-outline-dark btn-lg btn-block">{{ sub.name }}</button>
    
      </div>
    </div>
    <div class="col-12 col-lg-5 col-md-5">
      <img
        class="img-fluid w-100 mx-auto d-block mx-auto sub-img"
        src="{{ sub.image.url }}"
        alt="{{ sub.name }}"
      />
    </div>
    {% endif %} {% endfor %}
  </div>
</div>

{% endblock %} {% block postloadjs %}
<script>
  AOS.init();
</script>
{% endblock %}
