{% extends "base.html" %} {% load static %} {% block content %}
<div class="header-container container-fluid">
  <div class="row">
    <div class="col">
      <div class="hero-image">
        <div class="title-font px-2">
          <h1 class="text-center my-auto hero-title">SEASONS</h1>
          <p class="text-center">Farm to Box to You</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container seasons-container py-4">
  <div class="row">
    {% for sub in subscriptions %} {% if forloop.counter|divisibleby:2 %}
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-lg-6">
          <img
            class="img-fluid subscription-img"
            src="{{ sub.image.url }}"
            alt="{{ sub.name }}"
          />
        </div>
        <div class="col-12 col-lg-6">
          <p>{{sub.description}}</p>
        </div>
      </div>
      <div class="button-wrapper">
        <a
          href="{% url 'subscription_detail' sub.id %}"
          class="btn btn-black uppercase px-3"
        >
          {{sub.name}}
        </a>
      </div>
      {% else %}
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-lg-6">
            <p>{{sub.description}}</p>
          </div>
        <div class="col-12 col-lg-6">
          <img
            class="img-fluid subscription-img"
            src="{{ sub.image.url }}"
            alt="{{ sub.name }}"
          />
        </div>
        <div class="button-wrapper">
          <a
            href="{% url 'subscription_detail' sub.id %}"
            class="btn btn-black uppercase px-3"
          >
            {{sub.name}}
          </a>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>

    {% endblock %} {% block postloadjs %}
    <script>
      AOS.init();
    </script>
    {% endblock %}
  </div>
</div>
