<div class="footer-container footer-page text-center pt-3">
   <div class="container social-links">
      <a target="_blank" s href="https://www.facebook.com/">
      <i class="fab fa-facebook-f"></i
         ></a>
      <a target="_blank" href="https://twitter.com/explore">
      <i class="fab fa-twitter"></i>
      </a>
      <a target="_blank" href="https://https://github.com/">
      <i class="fab fa-github"></i>
      </a>
      <a target="_blank" href="https://uk.linkedin.com/">
      <i class="fab fa-linkedin-in"></i>
      </a>
   </div>
</div>
<div class="footer-copyright text-center">
   <div class="container copyright center-align">
      © 2020 Seasons 
   </div>