{% load static %}

<!doctype html>
<html lang="en">
  <head>

   {% block meta %} 
     <meta http-equiv="X-UA_Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

 
    
    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    
    {% block extra_css %}
    {% endblock %}

    <title>Seasons{% block extra_title %}{% endblock %}</title>
  </head>
    <header>
        <div class="container">
            
        </div>
    </header>
    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}   
    {% endblock %}


  

  </body>
</html>