{% extends "base.html" %} {% load static %} {% block content %}
<div class="header-container container-fluid">
  <div class="row">
    <div class="col">
      <div class="about-hero-image">
        <div class="title-font px-2">
          <h1 class="text-center my-auto hero-title">SEASONS</h1>
          <p class="text-center">Farm to Box to You</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div></div>
<div class="container icons-container my-5">
  <div class="row">
    <div class="col-sm">
      <div class="card icons-card">
        <div class="text-center">
          <div><i class="fa-home fas fa-tractor fa-lg"></i></div>
          <p class="my-3 tag-line">From Farm</p>
          <p>All of our produce is fresh and souced form ethical farmers</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card icons-card">
        <div class="text-center">
          <div><i class="fa-home fas fa-people-carry fa-lg"></i></div>
          <p class="my-3 tag-line">To Box</p>
          <p>
            Our boxes are curated by us to ensure you recieve the freshest
            seasonal produce
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card icons-card">
        <div class="text-center">
          <div><i class="fa-home fas fa-smile fa-lg"></i></div>
          <p class="my-3 tag-line">To You</p>
          <p>
            You can order a sfrequently as needed or subscribe to seasonla bpx
            drops
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-farm-container">
  <div class="container">
    <div
      class="row d-flex align-items-center"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <div
        class="col-sm-12 col-md-8 col-lg-6 mb-3 mt-3 jumbotron about-farm-jumbotron"
      >
        <h2 class="text-center header-section">
          <strong>Farming</strong>
        </h2>
        <hr class="w-50 mt-4" />
        <p class="text-center mb-lg-4 mt-lg-4">
          The concept of sustainable agriculture embraces a wide range of
          techniques, including organic, free-range, low-input, holistic, and
          biodynamic. The common thread among these methods is an embrace of
          farming practices that mimic natural ecological processes. Farmers
          minimize tilling and water use, encourage healthy soil by planting
          fields with different crops year after year and integrating croplands
          with livestock grazing, and avoid pesticide use by nurturing the
          presence of organisms that control crop-destroying pests. Beyond
          growing food, the philosophy of sustainability also espouses broader
          principles that support the just treatment of farm workers and food
          pricing that provides the farmer with a livable income
        </p>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid farmers-container">
  <div class="row">
    <div class="col">
      <div class="header-section">
        <h2>Farming</h2>
      </div>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 rounded">
      <img
        src="{{ STATIC_URL }}media/veg-basket.jpg"
        class="img-fluid veg-basket-img rounded mx-auto d-block mx-auto"
        alt="veg-box"
      />
    </div>
    <div class="col-md-5 pt-md-5 text-center">
      <p class="products-text">
        We aim to supply you with the amount of fresh produce as you need and
        your family require. We have different sizes of the box depending on the
        size of your appetite!
      </p>

      <p class="products-text">
        The concept of sustainable agriculture embraces a wide range of
        techniques, including organic, free-range, low-input, holistic, and
        biodynamic. The common thread among these methods is an embrace of
        farming practices that mimic natural ecological processes. Farmers
        minimize tilling and water use, encourage healthy soil by planting
        fields with different crops year after year and integrating croplands
        with livestock grazing, and avoid pesticide use by nurturing the
        presence of organisms that control crop-destroying pests. Beyond growing
        food, the philosophy of sustainability also espouses broader principles
        that support the just treatment of farm workers and food pricing that
        provides the farmer with a livable income
      </p>
    </div>
  </div>

</div>

<div class="you-container">
  <div class="container">
    <div
      class="row d-flex align-items-center"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <div
        class="col-sm-12 col-md-8 col-lg-6 mb-3 mt-3 jumbotron jumbotron-you"
      >
        <h2 class="text-center header-section">
          <strong>You</strong>
        </h2>
        <hr class="w-50 mt-4" />
        <p class="text-center mb-lg-4 mt-lg-4">
          All of our boxes are tailored to you. You choose your subscription for
          the seasons you want to recieve your fresh produce. Seasons brings
          only the fruit and veg that is seasonal so you will be recieving the
          produce fresh from the farm. Our team works hard to customize your box
          so it you get the most in season fruit in veg in the country.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block postloadjs %}
<script>
  AOS.init();
</script>
{% endblock %} {% include 'includes/footer.html' %}
