{% extends "base.html" %} {% load static %} {% block content %}

<div class="header-container container-fluid">
  <div class="row">
    <div class="col">
      <div class="boxes-image">
        <div class="boxes-font px-2">
          <h1 class="text-center my-auto hero-title">Boxes</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container pt-5">
  <div class="row">
    <div class="col col-md-6 offset-md-3">
      <div class="jumbotron">
        <p class="boxes-jumbotron">
          All our Boxes are curated to the sesonal calender. You will be
          delivered a box for each week of the month in which you subscribe to
          which will be filled with the latest produce to be picked, plucked and
          dug out that week.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container py-5">
  <div class="row">
    {% for season in season %}
    <div class="col-sm-12 col-lg-6 py-3">
      <div class="card season-card mx-auto mb-3 h-100 " style="width: 28rem">
        {% if season.image %}
        <a href="{% url 'season_detail' season.id %}" class="card-wrapper">
          <img
            class="card-img img-responsive"
            src="{{ season.image.url }}"
            alt="{{ product.name }}"
             width="auto" height="236"
            
          />
        </a>
        {% else %}
        <a href="">
          <img
            class="card-img"
            src="{{ MEDIA_URL }}noimage.png"
            alt="{{ product.name }}"
          />
        </a>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title text-center">{{season.name}}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
